body {
  margin: 5vw 10vw 0px 10vw;
  padding: 0px;
  background-color: #42253d;
  color: #d08e83;
  font-family: sans-serif;
  font-size: 2rem;
}

body * {
  box-sizing: border-box;
}

input, button {
  font-size: 2rem;
}

#title {
  /* text-shadow: 0px 0px 13px #fff; */
  transition: all 2s;
}

.specialTitle {
  text-decoration: underline;
  color: #000;
  text-shadow: 0px 0px 13px #ff0072;
}

#outputText {
  background-color: #000;
  padding: 2vmin;
}
